.column-login {
    max-width: 450px;
}

.login > .grid {
    height: 100%;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
}

.ui.menu {
    z-index: 1;
    position: relative;
}

.ui.button.remove-question {
    margin-top: 1.6em;
}

/* Banner */
.banner {
    margin-top: -10px;
    height: 400px;
    background-image: url(img/banner.jpg);
    text-align: middle;
    margin-bottom: 3em;
}
/* /Banner */

.item .image img {
    max-width: 100%;
}

.ui.button.new-survey, .ui.button.new-question {
    margin-left: 10px;
}

.ui.cards>.card.card-employees {
    width: 100;
    margin-top: 2em;
    margin-bottom: 3em;
}

.ui.cards>.card.card-employees .header {
    margin-bottom: 0.5em;
}

.ui.menu .item>img not(.ui) {
    width: 5em;
}

.banner p {
    font-size: 2em;
}